@font-face {
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
  font-family: openSans;
}
@font-face {
  src: url("../../assets/fonts/Merriweather-Regular.ttf");
  font-family: Merriweather;
}

$font-base: openSans;
$font-alt: Merriweather;