.about-us-container{
  height: 100vh;
  width: 100%;
  display: flex;
}

.about-us-image{
  width: 50%;
  background-image: url("../assets/images/People.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-description{
  width: 50%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-black
}

.home-about-us-header{
  font-size: 2.5rem;
  font-weight: 500;
}

.home-about-us-text{
  font-size: 2rem;
  text-align: center;
  padding-bottom: 100px;
  line-height: 50px;
  margin: 0 11% 0 11%;
}

.home-about-us-signature{
  background-image: url("../assets/images/Signature.svg");
  height: 149px;
  width: 209px;
  margin-left: 50%;
}


.home-about-us-description-line{
  background-image: url("../assets/images/Decoration.svg");
  background-repeat: no-repeat;
  width: 253px;
  height: 33px;
  margin-top: 30px;
  margin-bottom: 50px;
}

